@font-face {
    src: url('./assets/fonts/Gilroy-ExtraBold.otf');
    font-family: 'Gilroy';
}

@font-face {
    src: url('./assets/fonts/gilroy-light.otf');
    font-family: "Gilroy-Light";
}

body {
    height: 100%;
    margin: 0 auto;
    .logo {
        height: 40vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
            width: 15%;
            margin-bottom: -30%;
        }
    }
    .login {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    p {
        font-family: "Gilroy";
        font-size: 4em;
    }
    #name {
        margin-bottom: 80px;
        width: 50%;
        font-size: 3em;
        border: none;
        border-bottom: 1px solid #000000;
        outline: none;
    }
    .but {
        font-size: 1.5em;
        background-color: #001738;
        color: white;
        font-family: 'Gilroy-Light';
        padding: 30px;
        border: none;
    }


}